<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/Desktop01.css">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@200&display=swap" rel="stylesheet">
    <title>Desktop01</title>
</head>

<body class="Desktop01">
    <div class="container01">
        <img src="images/icon01.png" alt="icon01" class="icon01">
    </div>

    <script>
        document.querySelector('.container01').onclick = function(){
            window.location.href = "/Desktop02";
        } 
    </script>
</body>
</html>
