<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/Desktop02.css">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@200&display=swap" rel="stylesheet">
    <title>Desktop02v2</title>
</head>

<body class="Desktop02">
    <div class="container">
        <div class="menu">
            <div class="icon02">
                <a href="#"><img src="images/icon02.png" alt="icon02" class="icon02"></a>
            </div>
            <ul>
                <li><a href="/Desktop02v2">หน้าแรก</a></li>
                <li><a href="/Desktop06">เช็คห้องว่าง</a></li>
                <li><a href="/Desktop05">จองห้องติว</a></li>
                <li><a href="/Desktop02">ออกจากระบบ</a></li>
            </ul>
        </div>
    </div>
    <div class="container02">
        <h1></h1>
        <div class="container03">
            <div class="box1"><img src="images/01.jpg" alt="Panel 2" class="picture01"></div>
            <div class="box2"><center><img src="images/1.png" alt="Panel 2" class="picture02"></center></div>
        </div>
        <div class="container03">
            <div class="box3"><center><img src="images/2.png" alt="Panel 2" class="picture02"></center></div>
            <div class="box4"><img src="images/02.jpg" alt="Panel 2" class="picture01"></div>
        </div>
        <div class="container03">
            <div class="box1"><img src="images/03.jpg" alt="Panel 2" class="picture01"></div>
            <div class="box2"><center><img src="images/3.png" alt="Panel 2" class="picture02"></center></div>
        </div>
    </div>
</body>

</html>
